package pages

import "github.com/a-h/templ"

templ Component Index() {
    <html class="dark">
        <head>
            <link rel="stylesheet" href="/static/output.css">
        </head>
        <body class="p-10">
            <div class="text-2xl font-bold text-primary">
                Welcome to Lantern Frontend 🚀
            </div>
        </body>
    </html>
}